*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#090b18;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#22c55e;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(to bottom,#090b18,#101b3d);
}

.hero h1{
font-size:52px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:650px;
color:#cbd5e1;
}

button{
margin-top:30px;
padding:15px 40px;
font-size:18px;
border:none;
border-radius:40px;
background:#22c55e;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#16a34a;
}
